body{
    background: rgb(0,101,97);
    background: linear-gradient(90deg, rgba(0,101,97,1) 0%, rgba(29,248,253,1) 58%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 25px;
}

h1{
    font-size: 55px;
}

.btn{
    height: 30px;
    width: 100px;
    background-color: rgb(139, 197, 248);
    border-color:rgb(114, 137, 240);
    border-radius: 50px;
}

.btn:hover{
    cursor:pointer;
    background-color: aqua;
}

input{
    height: 20px;
    width: 200px;
    border-style: groove;
    border-color: blanchedalmond;
    border-radius: 10px;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.divResultado{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.textoErro{
    color: #ff0000;
    font-size: 18px;
    font-weight: 500;
}